In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/book-recommendation-dataset/Ratings.csv
/kaggle/input/book-recommendation-dataset/Users.csv
/kaggle/input/book-recommendation-dataset/Books.csv

In [3]:
Ratings = pd.read_csv("/kaggle/input/book-recommendation-dataset/Ratings.csv")
Ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [4]:
Ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [5]:
User = pd.read_csv("/kaggle/input/book-recommendation-dataset/Users.csv")
User

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [6]:
User.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [7]:
Books = pd.read_csv("/kaggle/input/book-recommendation-dataset/Books.csv")
Books

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [8]:
Books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [9]:
#The resulting user_counts Series can be used to analyze the distribution of ratings among users, and to identify users who have made the most or the fewest ratings.
user_counts = Ratings["User-ID"].value_counts()
user_counts

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: User-ID, Length: 105283, dtype: int64

In [10]:
#The resulting active_users list can be used to filter the DataFrame df1 to include only the ratings or interactions made by the active users
active_users = user_counts.loc[user_counts >= 60].index.tolist()
len(active_users)

2925

In [11]:
#The resulting user_counts Series can be used to analyze the distribution of ratings among users, and to identify users who have made the most or the fewest ratings.
books_counts = Ratings["ISBN"].value_counts()
books_counts

0971880107     2502
0316666343     1295
0385504209      883
0060928336      732
0312195516      723
               ...
1568656386        1
1568656408        1
1569551553        1
1570081808        1
05162443314       1
Name: ISBN, Length: 340556, dtype: int64

In [12]:
Ratings_new = Ratings[(Ratings['User-ID'].isin(active_users))]
Ratings_new

         User-ID        ISBN  Book-Rating
412       276925  0006511929            0
413       276925  002542730X           10
414       276925  0060520507            0
415       276925  0060930934            0
416       276925  0060951303            0
...          ...         ...          ...
1149744   276688  0836236688           10
1149745   276688  0892966548           10
1149746   276688  1551669315            6
1149747   276688  1575660792            7
1149748   276688  1580600506            0

[741196 rows x 3 columns]

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Split the data into training and test sets
train_data, test_data = train_test_split(Ratings_new, test_size=0.2, random_state=42)

# Split the remaining data (train_data) into development and validation sets
dev_data, test_data = train_test_split(train_data, test_size=0.5, random_state=42)

# Print the size of each dataset
print(f"Train set size: {len(train_data)}")
print(f"Dev set size: {len(dev_data)}")
print(f"Test set size: {len(test_data)}")

Train set size: 592956
Dev set size: 296478
Test set size: 296478

In [14]:
user_item_m = Ratings_new.pivot('User-ID','ISBN','Book-Rating').fillna(0)
user_item_m

ISBN,0330299891,0375404120,0586045007,9022906116,9032803328,9044922564,9044922572,9044922718,9044923161,904492401X,...,ZR903CX0003,"\0432534220\""""","\2842053052\""""","\8887517452\""""","\8888809228\""""",`3502103682,b00005wz75,cn108465,cn113107,Ô½crosoft
User-ID,,,,,,,,,,,,,,,,,,,,,
183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278633,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
# cosine similarity between users
X_user = cosine_similarity(user_item_m)

# model based Collaborative System

In [16]:
R = np.array(user_item_m)
user_ratings_mean = np.mean(R, axis = 1)

In [17]:
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [18]:
from scipy import linalg                                                                            
from scipy.sparse import linalg as slinalg      
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

In [19]:
s = np.diag(sigma)

In [20]:
all_user_predicted_ratings = np.dot(np.dot(U, s), Vt) + user_ratings_mean.reshape(-1, 1)
preds_rating = pd.DataFrame(all_user_predicted_ratings, columns = user_item_m.columns)

In [25]:
preds_rating

ISBN,0330299891,0375404120,0586045007,9022906116,9032803328,9044922564,9044922572,9044922718,9044923161,904492401X,...,ZR903CX0003,"\0432534220\""""","\2842053052\""""","\8887517452\""""","\8888809228\""""",`3502103682,b00005wz75,cn108465,cn113107,Ô½crosoft
0,0.003221,0.003231,0.003221,0.001198,0.003221,0.003221,0.003221,0.003221,0.003221,0.003221,...,0.002932,0.001487,0.001198,0.003275,0.003248,0.003221,0.003221,0.003221,0.003221,0.003190
1,-0.000427,-0.000274,-0.000427,-0.001031,-0.000427,-0.000427,-0.000427,-0.000427,-0.000427,-0.000427,...,-0.000513,-0.000945,-0.001031,-0.000445,-0.000436,-0.000427,-0.000427,-0.000427,-0.000427,0.002348
2,-0.002136,-0.002412,-0.002136,-0.004090,-0.002136,-0.002136,-0.002136,-0.002136,-0.002136,-0.002136,...,-0.002415,-0.003811,-0.004090,-0.002507,-0.002322,-0.002136,-0.002136,-0.002136,-0.002136,-0.002986
3,0.000630,0.000632,0.000630,0.000236,0.000630,0.000630,0.000630,0.000630,0.000630,0.000630,...,0.000574,0.000293,0.000236,0.000639,0.000635,0.000630,0.000630,0.000630,0.000630,0.000624
4,0.000240,0.000300,0.000240,0.001207,0.000240,0.000240,0.000240,0.000240,0.000240,0.000240,...,0.000378,0.001069,0.001207,0.000168,0.000204,0.000240,0.000240,0.000240,0.000240,0.002240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,0.000672,0.000636,0.000672,0.006338,0.000672,0.000672,0.000672,0.000672,0.000672,0.000672,...,0.001482,0.005528,0.006338,0.000667,0.000670,0.000672,0.000672,0.000672,0.000672,0.001921
2921,0.001818,0.001736,0.001818,0.002902,0.001818,0.001818,0.001818,0.001818,0.001818,0.001818,...,0.001973,0.002747,0.002902,0.001716,0.001767,0.001818,0.001818,0.001818,0.001818,0.001881
2922,0.000034,0.000066,0.000034,-0.004242,0.000034,0.000034,0.000034,0.000034,0.000034,0.000034,...,-0.000577,-0.003631,-0.004242,-0.000003,0.000015,0.000034,0.000034,0.000034,0.000034,0.001742
2923,-0.000233,0.000068,-0.000233,-0.001787,-0.000233,-0.000233,-0.000233,-0.000233,-0.000233,-0.000233,...,-0.000455,-0.001565,-0.001787,-0.000230,-0.000232,-0.000233,-0.000233,-0.000233,-0.000233,0.004247
2924,-0.000508,-0.000522,-0.000508,0.000571,-0.000508,-0.000508,-0.000508,-0.000508,-0.000508,-0.000508,...,-0.000354,0.000417,0.000571,-0.000591,-0.000549,-0.000508,-0.000508,-0.000508,-0.000508,0.000158

In [26]:
def recommend(user):
    user_ix = preds_rating.index.get_loc(user)
    
    user_similarities = X_user[user_ix]
    
    recommend_book = preds_rating.loc[user]
    
    m_rated_book = preds_rating.loc[user].gt(0)
    
    rated_book = m_rated_book.index[m_rated_book].tolist()

    recommend_book_top = recommend_book.drop(rated_book).head(10)
    return recommend_book_top.index.to_frame().reset_index(drop=True).merge(Books)

In [27]:
recommendation = recommend(183)

In [28]:
print(recommendation.iloc[:,[0,1]])

         ISBN                                         Book-Title
0  0000913154  The Way Things Work: An Illustrated Encycloped...
1  0001046438                                               Liar
2  000104687X  T.S. Eliot Reading \The Wasteland\" and Other ...
3  0001047213                                   The Fighting Man
4  0001047973                                    Brave New World
5  0001048082                                    Made in America
6  0001053736                    Sir Gawain and the Green Knight
7  0001053744                                Pearl and Sir Orfeo
8  0001845039                                The Moon of Gomrath

In [30]:
def score_on_test_set():
    #user_movie_pairs = zip(test_data['User-ID'], test_data['User-ID'])
    x = []
    for i in range(0,len(test_data)) : 
        user_ix = Ratings_new.index.get_loc(test_data.iloc[i,0])
        item_ix = Ratings_new.ISBN.get_loc(test_data.iloc[i,1])
        x.append(preds_rating[user_ix][item_ix])
    x = np.array(x)
    true_ratings = np.array(test_data['Book-Rating'])
    score = np.sqrt(mean_squared_error(true_ratings, x))
    return score

In [ ]:
print(score_on_test_set)